body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #131515;
}

#game-board{
    background-color: #2B2C28;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
}

.snake{
    background-color: #98CE00;
    border: .25vmin solid #FFFAFB;
    border-radius: 15%;
    margin: 1px;
}

.food{
    background-color: #F2545B;
    border: .25vmin solid #131515;
    border-radius: 50%;
}